examples/emotion-sensor/flows/emotion_sensor.json
[
    {
        "id": "b66529c0ddd38296",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7f1150c5f72b378",
        "type": "OpenStream",
        "z": "b66529c0ddd38296",
        "name": "Watcher",
        "qos": "0",
        "broker": "c9529be7303b4b64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "topic": "",
        "eui": "",
        "channel": "",
        "measurementID": "",
        "output": "raw",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "d9da988faf2181fa",
                "1f2c98888f0406a6"
            ]
        ]
    },
    {
        "id": "d9da988faf2181fa",
        "type": "debug",
        "z": "b66529c0ddd38296",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "279f6bccbf48a678",
        "type": "mqtt out",
        "z": "b66529c0ddd38296",
        "name": "",
        "topic": "mengdu-watcher",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1988959675e42aeb",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "1f2c98888f0406a6",
        "type": "function",
        "z": "b66529c0ddd38296",
        "name": "function 1",
        "func": "msg.payload = msg.payload.value[0].content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "279f6bccbf48a678",
                "afe0634886514f76"
            ]
        ]
    },
    {
        "id": "afe0634886514f76",
        "type": "debug",
        "z": "b66529c0ddd38296",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "c9529be7303b4b64",
        "type": "sensecap-config",
        "name": "",
        "broker": "sensecap-openstream.seeed.cc",
        "port": 1883,
        "displayOrgid": "424326273238784",
        "clientid": "org-424326273238784-3wovvk5d",
        "serverRadio": 1,
        "autoConnect": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "randomStr": "3wovvk5d",
        "credentials": {}
    },
    {
        "id": "1988959675e42aeb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "mengdu-watcher",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    }
]